<!DOCTYPE html>
<html lang="en" ng-app="booksApp">
<head>
	<meta charset="UTF-8">
	<title>Books</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script>

    	
    	var booksApp = angular.module('booksApp', []);

		booksApp.controller('booksAppCtrl', function($scope, $http){
			$http.get('books.json').success(function(data){
				$scope.books = data;
				console.log(data);
			}).error(function(data){
				console.log('Error: '+data);
			});
			$scope.cartBooks = [];
			$scope.myForm = {name: "", email: "", phone: "", address: ""};
			$scope.addToCart = function(book){
				$scope.cartBooks.push(book);
				console.log($scope.cartBooks);
			}
			$scope.clearCart = function(){
				console.log("clearCart()");
				$scope.cartBooks = [];
			}
			$scope.removeBook = function(book){
				for (var i = 0; i < $scope.cartBooks.length; i++) {
					if ($scope.cartBooks[i].ISBN == book.ISBN) {
						//remove the book from the array
						$scope.cartBooks.splice(i, 1);
					}
				}
			}
			function getCost(costString){
				console.log('getCost()');
				costString = costString.replace(" INR", "");
				costString = costString.replace(",", "");
				var cost = parseInt(costString);
				return (cost);
			}
			$scope.totalCost = function(){
				var totalCost = 0;
				for (var i = 0; i < $scope.cartBooks.length; i++) {
					
					//var cost = parseInt($scope.cartBooks[i].Price.replace(" INR", ""));
					var cost = getCost($scope.cartBooks[i].Price);
					console.log(cost);
					totalCost += cost;
				}
				return(totalCost);
			}
			$scope.isToHide = function(){
				if($scope.cartBooks.length == 0){
					return true
				}
				else{
					return false
				}
			}
			$scope.isCartEmpty = function(){
				if($scope.cartBooks.length == 0){
					return false
				}
				else{
					return true
				}
			}
			
			$scope.submitForm = function(){

				console.log($scope.myForm);
				console.log("You order has been placed");
				$('#cart').modal('hide');
				
				var data = {user: $scope.myForm, order: $scope.cartBooks};
				//submit the form data
				$http.post("/placeOrder", data);
				$scope.clearCart();
				alert('You have successfully placed the order. Kindly check your mail for furthur details.');
				
				
			}
		});
    </script>
    <style>
    	.center-block {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
    </style>
</head>
<body ng-controller="booksAppCtrl">
	<div class="container">
		<div class="page-header">
			<span style="font-size:36px">
				Books from JSON <span class="label label-info">{{ books.length }}</span>
			</span>
			<button type="button" class="btn btn-primary pull-right btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">
				Cart <span class="badge">{{cartBooks.length}}</span>
			</button>
		</div>

		<div class="alert alert-success" id="successAlert" ng-hide="true">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			You have successfully placed the order. Kindly check your mail for furthur details.
		</div>

		<input style="margin-bottom:10px" type="search" class="form-control" placeholder="Search books here..." ng-model="query">

		<!--Modal Window-->
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="cart">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">						
						<h3>
							Your Cart 
							<button class="btn btn-lg btn-danger pull-right" ng-click="clearCart()"><span class="glyphicon glyphicon-remove"></span></button>
						</h3>
					</div>
					<div class="modal-body pre-scrollable">
						<h1 ng-hide="isCartEmpty()">Your cart is empty!</h1>
						<table class="table table-hover" ng-hide="isToHide()">
							<tr class="info">
								<th>Title</th>
								<th>Price</th>
								<th></th>
							</tr>
							<tr ng-repeat="book in cartBooks">
								<td>{{book.Title[0]}}</td>
								<td>{{book.Price}}</td>
								<td>
									<button class="btn btn-danger" ng-click="removeBook(book)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</table>
						<div ng-hide="isToHide()" class="panel panel-default">
							<div class="panel-body">
							Total Cost
							<b class="pull-right">{{totalCost() | currency:"&#8377;"}}</b>
							</div>
						</div>
						<form class="form-horizontal" ng-hide="isToHide()">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Name" required ng-model="myForm.name">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" placeholder="Email" required ng-model="myForm.email">
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-sm-2 control-label">Phone</label>
								<div class="col-sm-10">
									<input type="tel" class="form-control" placeholder="Phone" required ng-model="myForm.phone">
								</div>
							</div>
							
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Address</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="3" required ng-model="myForm.address"></textarea>
								</div>
							</div>
							<input type="submit" class="btn btn-success btn-lg btn-block"  ng-click="submitForm()" value="Place Order">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<table class="table table-hover">
			<tr class="info">
				<th>Title</th>
				<th>Author</th>
				<th>Language</th>
				<th>Price</th>
				<th></th>
			</tr>
			<tr ng-repeat="book in books | filter:query">
				<td>{{book.Title[0]}}</td>
				<td>
					<span ng-repeat="author in book.Author" style="margin-right:5px">{{author}}</span>
				</td>
				<td>{{book.Language}}</td>
				<td>{{book.Price}}</td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="addToCart(book)">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						Add
					</button>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>